<app-navbar></app-navbar>

<div class="spacing">
  <div class="content">
    <h3>{{ title }}</h3>
    <img ng-hide="banner == null" class="movie-banner" src="{{ banner }}" alt="Movie banner" />
  </div>
  <div class="content">
    <h4>Leia a sinopse</h4>
    <p>{{ synopsis }}</p>
    <table>
      <tr *ngFor="let entry of details.entries()">
        <td class="table-title">{{ entry[0] }}</td>
        <td class="table-content">{{ entry[1] }}</td>
      </tr>
    </table>
  </div>
  <div ng-hide="youtubeUrl == null" class="content">
    <h4>Assista ao trailer</h4>
    <iframe width="100%" height="760" [src]="'https://www.youtube.com/embed/' + youtubeUrl | safe : 'resourceUrl'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="content">
    <h4>Créditos e distribuição</h4>
    <table>
      <tr *ngFor="let entry of credits.entries()">
        <td class="table-title">{{ entry[0] }}</td>
        <td class="table-content">{{ entry[1] }}</td>
      </tr>
    </table>
  </div>
</div>

<app-footer></app-footer>
