<footer class="footer">
  <div class="column">
    <h4>Menu</h4>
    <ul>
      <li>Catálogo</li>
      <li>Ingressos</li>
      <li>Produtos</li>
    </ul>
  </div>
  <div class="column">
    <h4>Siga-nos nas redes</h4>
    <ul class="icones">
      <li>
        <img src="/assets/icons/facebook.svg" class="icone" alt="Facebook" />
      </li>
      <li>
        <img src="/assets/icons/instagram.svg" class="icone" alt="Instagram" />
      </li>
    </ul>
  </div>
  <div class="column longest-column">
    <div class="vertical-bar"></div>
    <img src="/assets/images/logo.svg" alt="logo" />
  </div>
</footer>
