<div class="container">
  <form>
    <div class="logo">
      <p>CineLumin</p>
      <img src="../../../../assets/icons/light.png" alt="lampada vermelha fazendo papel de letra no logotipo"
        title="lampada vermelha fazendo papel de letra no logotipo">
    </div>
    <input type="text" placeholder="Nº da ID">
    <input type="password" placeholder="Senha">
    <button type="submit">Entrar</button>
    <p class="forgot_password">Esqueceu a senha? <a routerLink="/forgot-password">Clique Aqui</a></p>
  </form>
</div>