<div class="container">
  <app-aside-nav [status]="asideStatus" (closedAside)="handleCloseAside()"></app-aside-nav>
  <main class="content">
    <div class="header">
      <div>
        <app-btn-open-aside (openedAside)="handleOpenAside()"></app-btn-open-aside>
        <h2>Filmes / adicionar filme</h2>
      </div>
    </div>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <!-- <div class="upload-container">
        <label for="bannerImage" class="upload-label">
          <div class="upload-preview" [style.background-image]="'url(' + selectedBannerImage + ')'">
            <img *ngIf="!selectedBannerImage" alt="Preview" src="../../../../assets/icons/plus.png" />
          </div>
          <input type="file" id="bannerImage" (change)="onBannerImageSelected($event)" />
        </label>
        <label for="posterImage" class="upload-label">
          <div class="upload-preview" [style.background-image]="'url(' + selectedPosterImage + ')'">
            <img *ngIf="!selectedPosterImage" alt="Preview" src="../../../../assets/icons/plus.png" />
          </div>
          <input type="file" id="posterImage" (change)="onPosterImageSelected($event)" />
        </label>
      </div> -->
      <div class="flex">
      <div class="input_group">
        <label for="name">Título</label>
        <input type="text" placeholder="Ex: O rei do show" id="name" name="title" [(ngModel)]="filme.titulo" required/>
      </div>
      <div class="input_group">
        <label for="classification">Gênero</label>
        <div class="select_group">
          <select id="genero" name="genero" [(ngModel)]="filme.genero">
            <option value="COMEDIA">Comédia</option>
            <option value="ACAO">Ação</option>
            <option value="DRAMA">Drama</option>
            <option value="AVENTURA">Aventura</option>
            <option value="ROMANCE">Romance</option>
            <option value="TERROR">Terror</option>
          </select>
          <img src="../../../../assets/icons/arrow_down.png" alt="seta para baixo branca" title="seta para baixo" />
        </div>
      </div>
      </div>
      <div class="flex">
        <div class="input_group">
          <label for="classification">Classificação indicativa</label>
          <div class="select_group">
            <select id="classification" name="classificacaoIndicativa" [(ngModel)]="filme.classificacaoIndicativa">
              <option value="L">Livre</option>
              <option value="10">10</option>
              <option value="12">12</option>
              <option value="16">16</option>
              <option value="18">18</option>
            </select>
            <img src="../../../../assets/icons/arrow_down.png" alt="seta para baixo branca" title="seta para baixo" />
          </div>
        </div>
        <div class="input_group">
          <label for="duracao">Duração</label>
          <input type="text" placeholder="Ex: 00:00" id="duracao" name="duracao" [(ngModel)]="filme.duracao"/>
        </div>
      </div>
      <div class="flex">
        <!-- <div class="input_group">
          <label for="link">Link do trailer</label>
          <input type="text" placeholder="Ex: https://www.youtube.com" id="link" />
        </div> -->
        <!-- <div class="input_group">
          <label for="gender">Adicionar filme em</label>
          <div class="select_group">
            <select id="classification">
              <option value="banner">Cartaz</option>
              <option value="10">10</option>
              <option value="12">12</option>
              <option value="12">16</option>
              <option value="12">18</option>
            </select>
            <img src="../../../../assets/icons/arrow_down.png" alt="seta para baixo branca" title="seta para baixo" />
          </div>
        </div> -->
      </div>
      <div class="input_group">
        <label for="description">Descrição</label>
        <textarea placeholder="Cartaz" id="description" name="descricao" [(ngModel)]="filme.descricao"></textarea>
      </div>
      <div class="actions">
        <button type="button" routerLink="/admin/movies">Cancelar</button>
        <button type="submit">Adiconar filme</button>
      </div>
    </form>
  </main>
</div>
