<div class="container">
  <form>
    <div class="logo">
      <p>CineLumin</p>
      <img src="../../../../assets/icons/light.png" alt="lampada vermelha fazendo papel de letra no logotipo"
        title="lampada vermelha fazendo papel de letra no logotipo">
    </div>
    <input type="text" placeholder="Nome completo">
    <input type="text" placeholder="CPF">
    <input type="text" placeholder="Telefone">
    <input type="email" placeholder="E-mail">
    <input type="password" placeholder="Senha">
    <button type="submit">Entrar</button>
    <p class="forgot_password">Já tem uma conta? <a routerLink="/login">Entrar</a></p>
  </form>
</div>