<div class="container">
  <app-aside-nav [status]="asideStatus" (closedAside)="handleCloseAside()"></app-aside-nav>
  <main class="content">
    <div class="header">
      <div>
        <app-btn-open-aside (openedAside)="handleOpenAside()"></app-btn-open-aside>
        <h2>Funcionarios</h2>
      </div>
      <div>
        <div class="search">
          <input [(ngModel)]="nome" placeholder="Nome">
          <input [(ngModel)]="documento" placeholder="Documento">
          <input [(ngModel)]="cargo" placeholder="Cargo">
          <button (click)="getFuncionarios()">Pesquisar</button>
        </div>
      </div>
      <button type="button" routerLink="/admin/employee/create">
        Adicionar funcionários
      </button>
    </div>
    
    <div class="data">
      <table>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Usuário</th>
          <th>Autorização</th>
          <th>Cargo</th>
          <th>Ações</th>
        </tr>
        <tr *ngFor="let funcionario of funcionarios.content">
          <td>{{ funcionario.id }}</td>
          <td>{{ funcionario.nome }}</td>
          <td>{{ funcionario.documento }}</td>
          <td>{{ funcionario.username }}</td>
          <td>{{ funcionario.tipoAutorizacao }}</td>
          <td>{{ funcionario.cargo }}</td>
          <td>
            <button type="button" (click)="editarFuncionario(funcionario.documento)">
              <mat-icon [ngStyle]="{'color': 'var(--green)'}">edit</mat-icon>
            </button>
            <button type="button">
              <mat-icon [ngStyle]="{'color': 'var(--principal_red)'}"
                (click)="openDialog(funcionario.documento)">restore_from_trash</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
      <p>{{ currentPage }} de {{ totalPages }}</p>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
    </div>    
  </main>
</div>