<div class="container">
  <app-aside-nav [status]="asideStatus" (closedAside)="handleCloseAside()"></app-aside-nav>
  <main class="content">
    <div class="header">
      <div>
        <app-btn-open-aside (openedAside)="handleOpenAside()"></app-btn-open-aside>
        <h2>Filmes</h2>
      </div>
      <button type="button" routerLink="/admin/movie/create">
        Adicionar filme
      </button>
    </div>
    <div class="search">
      <img src="../../../../assets/icons/search.png" alt="icone de lupa" title="lupa">
      <input type="text" placeholder="Pesquisa" [(ngModel)]="searchMovie" (input)="filterItems()">
    </div>
    <div class="data">
      <table>
        <tr>
          <th>#</th>
          <th>Poster</th> <!-- Adicionada a coluna para a URL da imagem -->
          <th>Título</th>
          <th>Gênero</th>
          <th>Descrição</th>
          <th>Status</th>
          <th>Duração</th>
          <th>Ações</th>
        </tr>
        <tr *ngFor="let filme of filmes">
          <td>{{ filme.id }}</td>
          <img src="{{ filme.urlImagem.url }}" alt="Poster do Filme" width="150" height="150">
          <td>{{ filme.titulo }}</td> 
          <td>{{ filme.genero }}</td>
          <td>{{ filme.descricao }}</td> 
          <td>{{ filme.emCartaz ? 'Em cartaz' : 'Fora de cartaz' }}</td> 
          <td>{{ filme.duracao }}</td>
          <td>
            <button type="button">
              <mat-icon [ngStyle]="{'color': 'var(--green)'}">edit</mat-icon>
            </button>
            <button type="button">
              <mat-icon [ngStyle]="{'color': 'var(--principal_red)'}"
                (click)="openDialog(filme.id)">restore_from_trash</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
      <p>{{ currentPage }} de {{ totalPages }}</p>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
    </div>
  </main>
</div>