<div class="container">
  <app-aside-nav [status]="asideStatus" (closedAside)="handleCloseAside()"></app-aside-nav>
  <main class="content">
    <div class="header">
      <div>
        <app-btn-open-aside (openedAside)="handleOpenAside()"></app-btn-open-aside>
        <h2>Filmes</h2>
      </div>
      <button type="button" routerLink="/admin/movie/create">
        Adicionar filme
      </button>
    </div>
    <div class="search">
      <img src="../../../../assets/icons/search.png" alt="icone de lupa" title="lupa">
      <input type="text" placeholder="Pesquisa" [(ngModel)]="searchMovie" (input)="filterItems()">
    </div>
    <div class="data">
      <div class="movie-grid">
        <div class="centered-movies">
          <div class="movie" *ngFor="let filme of filmes.content">
            <div class="movie-poster">
              <img src="{{ filme.urlImagem?.url || '../../../../../../assets/images/black-screen.png' }}" alt="Poster do Filme">
            </div>
            <div class="movie-details">
              <h3>{{ filme.titulo }}</h3>
              <p>{{ filme.genero }}</p>
              <img [src]="getImagemClassificacao(filme.classificacaoIndicativa)" alt="Classificação Indicativa" class="classificacao-indicativa">
              <p>{{ filme.emCartaz ? 'Em cartaz' : 'Fora de cartaz' }}</p>
              <p>{{ filme.duracao }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
      <p>{{ currentPage }} de {{ totalPages }}</p>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
    </div>
  </main>
</div>